@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Baloo+Thambi+2:wght@400..800&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Display:wght@100..900&family=Bungee&family=Chango&family=DM+Serif+Display:ital@0;1&family=Fira+Code:wght@300..700&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Jua&family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Martian+Mono:wght@100..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Space+Grotesk:wght@300..700&display=swap");
:root {
	--color-black: #000000;
	--color-darkpurple: #5c2dd5;
	--color-purple: #7945ff;
	--color-red: #fd6687;
	--color-yellow: #ffce67;
	--color-white: #ffffff;

	--font-family: "Space Grotesk", serif;
	--L-style-size: 56px;
	--M-style-size: 24px;
	--S-style-size: 20px;
	--XS-style-size: 16px;
	--P-style-size: 16px;

	--L-style-lineheight: 71.46px;
	--M-style-lineheight: 30.62px;
	--S-style-lineheight: 25.52px;
	--XS-P-style-lineheight: 20.42px;

	--btn-pc-idle-bcolor: #fd6687;
	--btn-pc-idle-color: #ffffff;
	--btn-pc-idle-border-color: #000000;
	--btn-pc-idle-border-width: 3px;

	--btn-pc-hover-border-color: #5c2dd5;

	--btn-pp-idle-bcolor: #ffce67;
	--btn-pp-idle-color: #000000;
	--btn-pp-idle-border-color: #000000;
	--btn-pp-idle-border-width: 3px;

	--btn-pp-hover-border-color: #5c2dd5;

	--btn-cg-idle-bcolor: #ffffff;
	--btn-cg-idle-color: #000000;
	--btn-cg-idle-border-color: #000000;
	--btn-cg-idle-border-width: 3px;

	--btn-cg-hover-border-color: #5c2dd5;

	--btn-menu-idle-bcolor: #5c2dd5;
	--btn-menu-idle-color: #ffffff;
	--btn-menu-hover-border-color: #fd6687;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-family);
}

body {
	background-color: var(--color-purple);
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

nav {
	display: flex;
	justify-content: center;
	padding: 70px 60px;
	justify-content: space-between;
	width: 60%;
	align-items: center;
}

.btn-nav-style {
	border-radius: 20px;
	background-color: var(--color-darkpurple);
	color: var(--color-white);
	border: none;
	padding: 5px;
	height: 10%;
	text-align: center;
}
