@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Baloo+Thambi+2:wght@400..800&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Display:wght@100..900&family=Bungee&family=Chango&family=DM+Serif+Display:ital@0;1&family=Fira+Code:wght@300..700&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Jua&family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Martian+Mono:wght@100..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Space+Grotesk:wght@300..700&display=swap");
:root {
	--color-black: #000000;
	--color-darkpurple: #5c2dd5;
	--color-purple: #7945ff;
	--color-red: #fd6687;
	--color-yellow: #ffce67;
	--color-white: #ffffff;

	--font-family: "Space Grotesk", serif;
	--L-style-size: 56px;
	--M-style-size: 24px;
	--S-style-size: 20px;
	--XS-style-size: 16px;
	--P-style-size: 16px;

	--L-style-lineheight: 71.46px;
	--M-style-lineheight: 30.62px;
	--S-style-lineheight: 25.52px;
	--XS-P-style-lineheight: 20.42px;

	--btn-pc-idle-bcolor: #fd6687;
	--btn-pc-idle-color: #ffffff;
	--btn-pc-idle-border-color: #000000;
	--btn-pc-idle-border-width: 3px;

	--btn-pc-hover-border-color: #5c2dd5;

	--btn-pp-idle-bcolor: #ffce67;
	--btn-pp-idle-color: #000000;
	--btn-pp-idle-border-color: #000000;
	--btn-pp-idle-border-width: 3px;

	--btn-pp-hover-border-color: #5c2dd5;

	--btn-cg-idle-bcolor: #ffffff;
	--btn-cg-idle-color: #000000;
	--btn-cg-idle-border-color: #000000;
	--btn-cg-idle-border-width: 3px;

	--btn-cg-hover-border-color: #5c2dd5;

	--btn-menu-idle-bcolor: #5c2dd5;
	--btn-menu-idle-color: #ffffff;
	--btn-menu-hover-border-color: #fd6687;
}
.red {
	background-color: var(--color-red);
	color: var(--color-white);
}
.l-style {
	font-size: 56px;
	font-weight: 700;
}
.m-style {
	font-size: 24px;
	font-weight: 700;
}
.s-style {
	font-size: 20px;
	font-weight: 700;
}
.xs-style {
	font-size: 16px;
	font-weight: 700;
}
.p-style {
	font-size: 16px;
	font-weight: 700;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-family);
}

body {
	background-color: var(--color-purple);
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

nav {
	display: flex;
	justify-content: center;
	padding: 30px 60px;
	justify-content: space-between;
	width: 60%;
	align-items: center;
	font-weight: 700;
}

nav li {
	list-style: none;
}

.btn-nav-style {
	border-radius: 20px;
	background-color: var(--color-darkpurple);
	color: var(--color-white);
	border: none;
	padding: 8px;
	height: 10%;
	text-align: center;
}

.players-section {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0px 250px 0px 250px;
}

.player-one-score {
	position: relative;
	background-color: var(--color-white);
	border-radius: 20px;
	box-shadow: 0px 10px 0px 0px var(--color-black);
	border: solid 3px var(--color-black);
	padding: 25px;
	text-align: center;
	height: 175px;
}
.player-one-score img {
	position: absolute;
	top: -25px;
	left: 37px;
}
.player-one-txt p {
	margin-top: 20px;
}

.player-two-score {
	position: relative;
	background-color: var(--color-white);
	border-radius: 20px;
	box-shadow: 0px 10px 0px 0px var(--color-black);
	border: solid 3px var(--color-black);
	padding: 25px;
	text-align: center;
	height: 175px;
}
.player-two-score img {
	position: absolute;
	top: -25px;
	left: 37px;
}
.player-two-txt p {
	margin-top: 20px;
}

.shape-1 {
	position: relative;
	z-index: 1;
}
.shape-2 {
	position: absolute;
	top: 120px;
	z-index: 2;
}

/* .chrono-yellow {
	display: flex;
	justify-content: center;
	z-index: 3;
	position: relative;
	bottom: 60px;
}

.img-chrono-yellow {
	position: absolute;
}

.chrono-yellow div {
	position: relative;
	top: 45px;
	text-align: center;
} */

.chrono-red {
	display: flex;
	justify-content: center;
	z-index: 3;
	position: relative;
	bottom: 60px;
	color: var(--color-white);
}

.img-chrono-red {
	position: absolute;
}

.chrono-red div {
	position: relative;
	top: 45px;
	text-align: center;
}

/* .chrono-red-win {
	position: absolute;
	position: relative;
	z-index: 3;
	bottom: 60px;
	left: 43%;
}

.chrono-red-win div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--color-white);
	padding: 20px;
	width: 15%;
	box-shadow: 0px 10px 0px 0px var(--color-black);
	border-radius: 20px;
	border: solid 3px var(--color-black);
}
.chrono-red-win button {
	background-color: var(--color-purple);
	color: var(--color-white);
	border: none;
	border-radius: 20px;
	padding: 8px;
	font-weight: 700;
} */

.background-rectangle {
	position: relative;
	background-color: var(--color-darkpurple);
	width: 100%;
	height: 200px;
	z-index: 0;
	bottom: 160px;
	border-radius: 60px 60px 0 0;
}
/* .background-rectangle-red {
	position: relative;
	background-color: var(--color-red);
	width: 100%;
	height: 200px;
	z-index: 0;
	bottom: 160px;
	border-radius: 60px 60px 0 0;
}
.background-rectangle-yellow {
	position: relative;
	background-color: var(--color-yellow);
	width: 100%;
	height: 200px;
	z-index: 0;
	bottom: 160px;
	border-radius: 60px 60px 0 0;
} */

.grid-game {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(7, 70px);
	grid-template-rows: repeat(6, 70px);
	grid-gap: 18px;
	left: 31%;
	bottom: 25%;
}
.grid-game button {
	border-radius: 50%;
	background-color: var(--color-purple);
	border: none;
}
